.services {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  background-color: black;
  color: #b8b897;
  @media only screen and (max-width: 450px) {
    padding-top: 40px;
  }
  svg {
    margin-bottom: -60px;
    text {
      letter-spacing: 10px;
      stroke: white;
      font-size: 80px;
      font-weight: 400;
      stroke-width: 1;
      animation: textAnimate 5s infinite alternate;
      @media only screen and (max-width: 450px) {
        font-size: 60px;
      }
    }
  }
  h3 {
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 11px;
    span {
      color: #fff;
    }
  }
  p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.2px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #dfdfdf;
    font-family: "Raleway", sans-serif;
  }
  .service-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    @media only screen and (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      fill: hsl(60, 19%, 66%);
    }

    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%, 0%);
    }
  }
}
